{% extends './layout.html' %}
{% block content %}
    <div class='col-sm-6'>
        <h2>Category: {{ category.name }}</h2>
        <!-- add new category -->
        <form class='well' action='/categories/{{ category.id }}/products' method='POST'>
            <div class='form-group'>
                <input class='form-control' name='name' placeholder='add a product...'/>
            </div>
          <button type="submit" class='btn btn-primary'><span class='glyphicon glyphicon-save'></span> Save Product</button>
        </form>

        <ul class='list-group'>
            {% for product in category.products %}
            <li class='list-group-item'>
                {{ product.name }}
                <div class='pull-right'>
                    <form style='display:inline' action='/categories/{{ category.id }}/products/{{ product.id }}?_method=DELETE' method='POST'>
                        <button class='btn btn-warning'>
                            Delete
                        </button>
                    </form>
                </div>
                <br clear='all' />
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class='col-sm-6'>
        <h3>Data:</h3>
            <pre>
            {{ stringifyProducts }}
            </pre>
        </div>
    </div>
{% endblock %}

