{% extends './layout.html' %}
{% block content %}
    <div class='col-sm-6'>
        <h2>All Categories</h2>
        <!-- add new category -->
        <form class='well' action='/categories' method='POST'>
            <div class='form-group'>
                <input class='form-control' name='name' placeholder='add a category...'/>
            </div>
          <button type="submit" class='btn btn-primary'><span class='glyphicon glyphicon-save'></span> Save Category</button>
        </form>
        <ul class='list-group'>
            {% for category in categories %}
            <li class='list-group-item'>
                <a href="/categories/{{ category.id}}">{{ category.name }}</a>
                <div class='pull-right'>
                    <form style='display:inline' action='/categories/{{ category.id }}?_method=DELETE' method='POST'>
                        <button class='btn btn-warning'>
                            Delete
                        </button>
                    </form>
                </div>
                <br clear='all' />
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class='col-sm-6'>
        <h3>Data:</h3>
            <pre>
            {{ stringifyCategories }}
            </pre>
        </div>
    </div>
{% endblock %}
